# Virtual environment
venv/
.env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

# VSCode / PyCharm settings
.vscode/
.idea/

# Logs and temp files
*.log
*.tmp
*.swp

# Environment/config files
.env
*.key
*.json

# Build outputs
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
htmlcov/
.pytest_cache/
